@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

@font-face {
  font-family: 'Baybayin Bayani';
  src: url('fonts/Baybayin-Bayani.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  background-color: rgb(112, 112, 112);
  color: rgb(255, 255, 255);
  background-image: url('assets/Body Tile.png');
  background-repeat: repeat;
  background-position: center;
  background-size: 60px;
}

button {
  background: none;
  margin: 0;
	color: none;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

a {
  color:rgb(238, 203, 4);
}

/* * {
  margin: 0;
  padding: 0;
} */

.header {
  width: 100%;
  height: 5vh;
  position: fixed;
  display: flex;
  gap: 5px;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 20px;
  z-index: 5;
  background-image: linear-gradient(to bottom, rgb(22, 22, 22, 1), rgba(85, 85, 85, 0));
}

.header_sec1 {
  box-sizing: border-box;
  height:100%;
  width:100%;
  display:flex;
  flex-direction:row;
  gap:20px;
  align-items:center;
}

.header_sec2 {
  box-sizing: border-box;
  width: auto;
  height: 100%;
  display: flex;
  gap: 20px;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: flex-start;
  margin-right: 50px;
}

.titleContainer {
  box-sizing: content-box;
  width:100%;
  height:32px;
  position: relative; 
  margin: 0 auto; 
  overflow: hidden;
}

.title {
  top: 0;
  width: 100%;
  opacity: 1;
  position: absolute;
}

.sec {
  /* width: 100%;
  height: 100%; */
  width:min(auto,100%);
  /* height:min(auto,100%); */
  min-height: 100%;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

.flexrow {
  display: flex;
  flex-direction: row;
}

.flexcolumn {
  flex-direction: column;
}

.sec1 {
  /* background-color: rgb(4, 0, 59); */
  scroll-snap-align: start;
  gap: 50px;
}

.sec1-left {
  display: flex;
  align-items: center;
  scroll-snap-align: start;
  gap: 0px;
}

#vonImg {
  height:min(90vw, 90vh);
  align-self: flex-end;
}

.sec2 {
  /* background-color: rgb(55, 59, 0); */
  scroll-snap-align: start;
}

#square {
  width: 50px;
  height: 50px;
  background-color: rgb(35, 0, 236);
}

#text1 {
  overflow:hidden;
  position: absolute;
}

/* INTRO ELEMENTS */
#firstSection {
  width: 100%;
  height: 100%;
  
  /* overflow: hidden; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  position: absolute;
}

#textContainer {
  height:fit-content;
  display: flex;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  position: absolute;
}

#text1 {
  display: flex;
  margin: 0px;
  width: auto;
  height: auto;
  font-size: 40px;
}

.intro {
  width: 100%;
  height: 100%;
  position: fixed;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;  
  white-space: nowrap;
  offset-anchor: middle;
}

.introTextContainer {
  overflow: hidden;
  margin: 0px;
  position: absolute;
}

.introText {
  display: inline-block;
  overflow: hidden;
  margin: 0px;
  font-size: 40px;
}

.sec3-projects {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  gap: 0px;
}

/* .sec3-project {
  display: block;
  position: relative;
  margin-left: 10px;
  background-color: rgba(116, 116, 116, 0.26);
  height:400px;
  width:270px;
} */

.projectContainer {
  /* background-color: #111111; */
  backdrop-filter: blur(2px) saturate(2%);
  -webkit-backdrop-filter: blur(1px) saturate(0%);
  background-color: rgba(0, 0, 0, 0.473);

  padding: 20px;
  margin: 20px;
  align-self: flex-start;

  animation-direction: alternate ;
  /* width: 60vh; */
  width: 30vw;
}

.projectContainer h2 {
  margin-bottom: 2px;
}

.projectContainer a {
  color:rgb(238, 203, 4);
  font-size: 14px;
  margin-bottom: 20px;
}

.projectContainer .otherStatus {
  color:rgb(238, 203, 4);
  font-size: 14px;
  margin-bottom: 20px;
  margin-top: 0px;
}

.projectContainer img {
  
  width: 100%;
}

.projectContainer .tagsContainer {
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.tagsContainer p {
  background-color:#000000;
  padding: 7px;
  font-size: 12px;
  margin: 3px 6px 3px 0px;

  transition: all 0.2s;
  -webkit-transition: all 0.2s;
}

.footer {
  width: 100%;
  height: 50%;
  background-color: rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
  margin-top: 50vh;
}

.footer-socials {
  display: flex;
  flex-direction: row;
  gap: 10px;
}


.footer-socials a img {
  width: 50px;
}

#sec1Name {
  font-size: 32px;
}

#baybayinName {
  font-family: "Baybayin Bayani";
  color:rgb(238, 203, 4);
  font-size: 24px;
  margin: 0;
}

.hamburgMenu {
  width: 100%; 
  height: 100%;
  background-color: #ffffff;
  position: fixed;
  z-index: 20;
  mix-blend-mode: difference;
  pointer-events: none;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
}

.hamburgMenu button {
  pointer-events:all;
  font-weight: bold;
  font-size: 32px;
}


/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@media screen and (max-width: 900px) {
  /* .sec {
    flex-direction: column
  } */

  .sec1 {
    padding-top: 15vh;
  }

  .projectContainer {
    width: 90vw;
  }

  .sec1 {
    scroll-snap-align: start;
    gap: 0px;
  }

  #vonImg {
    height:min(110vw, 110vh);
  }

  /* .header {
    flex-direction: column;
  } */

  /* .header_sec1 {
    justify-content: center;
  }

  .header_sec2 {
    justify-content: flex-end;
    margin:0px;
  } */
}